<div class="container">
  <br />
  <br />
  <p>1. Napraviti header komponentu sa dve stavke(Zahtevi i Zadatak). U delu zahtevi ispisati ove zahteve, a u delu zadatak odraditi zahteve</p>
  <p>2. Kreirati tri nove komponente: GameControl, Even i Odd</p>
  <p>3. GameControl komponenta treba da ima dva dugmeta, start i stop</p>
  <p>4. Kada se klikne start, na svaki sekund treba da se emituje event(poslednji broj uvećan za jedan) – ref = setInterval() i da se inkrementuje poslednji broj</p>
  <p>5. Ovaj event treba da se uhvati izvan komponente</p>
  <p>6. Kada se klikne na dugme stop, treba da se prekine sa emitovanjem evenata – clearInterval(ref)</p>
  <p>7. Odd i Even komponente ispisuju parne ili neparne brojeve</p>
</div>